<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>ORDER</title>
</head>

<body>
<div th:insert="navbar :: nav"></div>
<nav class="navbar navbar-light bg-dark text-white head-text">
    Danh sách đơn hàng
</nav>
<div id="successMessage" th:if="${messages}" class="alert alert-success" role="alert">
    <span th:text="${messages}"></span>
</div>
<div>
    <div class="p-0 m-0" style="width: 10%; float: left">&nbsp</div>
    <div class="h-100 p-0 m-0" style="width: 80%; float: left">
        <div class="p-2">
            <form th:action="@{/order/list}"
                  method="get">
                <div class="form-group">
                    <label>Tên đăng nhập</label>
                    <input name="accountName" id="accountName" placeholder="Nhập tên đăng nhập">
                </div>
                <div class="form-group">
                    <label>Tên nhân viên</label>
                    <input name="nameEmployees" id="nameEmployees" placeholder="Nhập tên nhân viên">
                </div>
                <div class="form-group">
                    <label>Mã sản phẩm </label>
                    <input name="codeProduct" id="codeProduct" placeholder="Nhập mã sản phẩm">
                </div>
                <div class="form-group">
                    <label>Tên sản phẩm </label>
                    <input name="nameProduct" id="nameProduct" placeholder="Nhập tên sản phẩm">
                </div>
                <div class="form-group">
                    <label>Tên khách hàng </label>
                    <input name="nameCustomer" id="nameCustomer" placeholder="Nhập tên khách hàng">
                </div>
                <div class="form-group">
                    <label>Số điện thoại </label>
                    <input name="phoneNumberCustomer" id="phoneNumberCustomer" placeholder="Nhập số điện thoại">
                </div>
                <div class="form-group">
                    <label>Ngày đặt hàng bắt đầu </label>
                    <input type="date" name="dayOrderStart" id="dayOrderStart" placeholder="Nhập ngày đặt hàng bắt đầu">
                </div>
                <div class="form-group">
                    <label>Ngày đặt hàng kết thúc </label>
                    <input type="date" name="dayOrderEnd" id="dayOrderEnd" placeholder="Nhập ngày đặt hàng kết thúc">
                </div>
                <div class="form-group">
                    <label>Trạng thái:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="allocatedStatus">
                        <label class="form-check-label">đã đặt hàng</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="orderedStatus">
                        <label class="form-check-label">đã phân bổ</label>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    <button class="btn btn-primary">Clear</button>
                </div>
            </form>
        </div>
        <div class="p-2">
            <button type="submit" class="btn btn-primary" onclick="addRow()">Thêm dòng</button>
        </div>
        <table border="1" class="table-striped table">
            <thead class="thead-dark">
            <tr class="w-100">
                <th>No.</th>
                <th>Ngày đặt hàng</th>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Giá bán</th>
                <th>Số lượng</th>
                <th>Tên khách hàng</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Trạng thái</th>
                <th>Ngày phân bổ</th>
                <th>Tên đăng nhập</th>
                <th>Tên nhân viên</th>
            </tr>
            </thead>
            <tbody th:id="bodyTable">
            <tr th:if="${orderList.size() > 0}" th:each="order,loop:${orderList} " th:id="${order['idOrder']}" class="id">
                <td th:text="${loop.count + index * page}"></td>
                <td th:text="${#temporals.format(order['dayOrderStart'], 'dd-MM-yyyy')}"></td>
                <td class="codeProduct" th:contenteditable="${(order['dayOrderAllocated'] == null) ? 'true' : null}" th:text="${order['codeProduct']}"></td>
                <td class="nameProduct" th:contenteditable="${(order['dayOrderAllocated'] == null) ? 'true' : null}" th:text="${order['nameProduct']}"></td>
                <td th:text="${#numbers.formatDecimal(order['price'], 0, 'COMMA', 0, 'POINT')} + ' VND'"></td>
                <td class="quantity" th:contenteditable="${(order['dayOrderAllocated'] == null) ? 'true' : null}" th:text="${order['quantity']}"></td>
                <td class="nameCustomer" th:contenteditable="${(order['dayOrderAllocated'] == null) ? 'true' : null}" th:text="${order['nameCustomer']}"></td>
                <td class="phoneNumberCustomer" th:contenteditable="${(order['dayOrderAllocated'] == null) ? 'true' : null}" th:text="${order['phoneNumberCustomer']}"></td>
                <td th:text="${order['address']}"></td>
                <td th:text="${order['nameStatus']}"></td>
                <td th:text="${#temporals.format(order['dayOrderAllocated'], 'dd-MM-yyyy')}"></td>
                <td th:text="${order['accountName']}"></td>
                <td th:text="${order['nameEmployees']}"></td>
            </tr>
            <tr th:if="${orderList.size()>0}" th:each="order, loop:${orderList}" th:id="${order['idOrder']}" hidden="hidden" >
                <td th:text="${loop.count + index * page}" ></td>
                <td th:text="${#temporals.format(order['dayOrderStart'], 'dd-MM-YYYY')}"></td>
                <td th:text="${order['codeProduct']}" class="codeProductHidden"></td>
                <td th:text="${order['nameProduct']}" class="nameProductHidden"></td>
                <td th:text="${order['quantity']}" class="quantityHidden"></td>
                <td th:text="${order['nameCustomer']}" class="nameCustomerHidden"></td>
                <td th:text="${order['phoneNumberCustomer']}" class="phoneNumberCustomerHidden"></td>
                <td th:text="${order['address']}"></td>
                <td th:text="${order['nameStatus']}"></td>
                <td th:text="${#temporals.format(order['dayOrderAllocated'], 'dd-MM-yyyy')}"></td>
                <td th:text="${order['accountName']}"></td>
                <td th:text="${order['nameEmployees']}"></td>
            </tr>
            <tr th:if="${orderList.size() == 0}">
                <td colspan="13">Không tìm thấy đơn hàng</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="p-0 m-0" style="width: 10%; float: left">&nbsp</div>

</div>
</body>
<script>
    $(document).ready(function() {
    $("#bodyTable").on('blur', '[contenteditable=true]', function() {
    let cell = $(this);
    let classList = cell.attr('class');
    let classArray = classList.split(" ");
    let columnName = classArray[0];
    let type = '';
    if (columnName === 'codeProduct' || columnName === 'nameProduct') {
        type = (columnName === 'codeProduct') ? 'name' : 'code';
        fillDataProduct(cell, type);
        console.log(fillDataProduct);
    } else if (columnName === 'phoneNumberCustomer' || columnName === 'nameCustomer') {
        type = (columnName === 'phoneNumberCustomer') ? 'name' : 'phone';
        fillDataCustomer(cell, type);
    }
   });
   });
    //autoFill sản phẩm
    async  function fillDataProduct(cellData, type) {
    const data = $(cellData).text().trim();
    if(type == 'code'){
        cellInsert = $(cellData).closest("tr").find('.codeProduct');
    } else {
        cellInsert = $(cellData).closest("tr").find('.nameProduct');
    } try {
        const response = await $.ajax({
        url: `http://localhost:8081/api/product/${type}`,
        method: "GET",
        data: {
            [type === 'name' ? 'codeProduct' : 'nameProduct']: data
        }
    });
    cellInsert.text(response);
    } catch(error) {
    console.error('Error:', error);
    }
    }
    //autoFill Khách hàng
    async function fillDataCustomer(cellData, type) {
    const data = $(cellData).text().trim();
	if(type == 'phone'){
		cellInsert = $(cellData).closest("tr").find('.phoneNumberCustomer');
	} else {
		cellInsert = $(cellData).closest("tr").find('.customerName');
	}
	try {
	        const response = await $.ajax({
	        url: `http://localhost:8081/api/customer/${type}`,
	        method: "GET",
	        data: {
	            [type === 'name' ? 'phoneNumberCustomer' : 'customerName']: data
	        }
	    });
	    cellInsert.text(response);
    } catch (error) {
        console.error('Error:', error);
    }
}

     function addRow(){
     }




</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>