<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
        .pagination {
            display: flex;
            justify-content: center
        }
    </style>
</head>
<body>
<div th:insert = "navbar :: nav"></div>
<nav class="navbar navbar-light bg-dark text-white head-text">
    Danh sách sản phẩm
    <div>
        <button class="btn " th:attr ="onclick=|createProduct(${page}|">
            <a  th:href="@{/product/create}">Thêm mới sản phẩm</a>
        </button>
    </div>
</nav>
<div id="successMessage" th:if="${message}" class="alert alert-success" role="alert">
    <span th:text="${message}"></span>
</div>

<div>
    <div class="p-0 m-0" style="width: 20%; float: left">&nbsp;</div>
    <div class="h-100 p-0 m-0" style="width: 60%; float: left">
        <div class="p-2">
            <form th:action="@{/product/list}" method="get">
                <div class="form-group">
                    <label>Mã sản phẩm</label>
                    <input th:value="${codeProduct}" name="codeProduct" placeholder="Nhập mã sản phẩm">
                </div>
                <div class="form-group">
                    <label>Tên sản phẩm</label>
                    <input th:value="${nameProduct}" name="nameProduct" placeholder="Nhập tên sản phẩm">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    <button type="submit" class="btn btn-primary" >Clear</button>
                </div>
            </form>
        </div>

        <table class="table-striped table">
            <thead class="thead-dark">
            <tr class="w-100">
                <th>No.</th>
                <th hidden="hidden">ID sản phẩm</th>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Giá bán ra</th>
                <th>Giá mua vào</th>
                <th>Hàng tồn kho</th>
                <th colspan="2" style="text-align: center">Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product,loop : ${productList}">
                <td th:text="${loop.count + page * index}"></td>
                <td hidden="hidden" th:text="${product['idProduct']}"></td>
                <td th:text="${product['codeProduct']}"></td>
                <td th:text="${product['nameProduct']}"></td>
                <td th:text="${#numbers.formatDecimal(product['salePrice'], 0, 'COMMA', 0, 'POINT')} + ' VND'"></td>
                <td th:text="${#numbers.formatDecimal(product['purchasePrice'], 0, 'COMMA', 0, 'POINT')} + ' VND'"></td>
                <td th:text="${product['inventoryNumber']}"></td>
                <td>
                    <a th:href="@{/product/edit/{idProduct}(idProduct=${product['idProduct']})}">Chỉnh sửa</a>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                            th:attr="onclick=|infoDelete('${product.idProduct}','${product.nameProduct}','${product.codeProduct}')|">
                        Xóa
                    </button>

                </td>
            </tr>
            <tr th:if="${productList.size() == 0}">
                <td colspan="8">Không tìm thấy sản phẩm</td>
            </tr>
            </tbody>
        </table>
<!--    Page-->
        <div th:if="${productList.size() > 0}">
            <nav  aria-label="Page navigation example">
                <ul class="pagination display-flex" >
                    <li th:if="${page != 0 }" class="page-item">
                        <a class="page-link" th:href="@{/product/list(page=${page -1})}">Previous</a>
                    </li>
                    <li class="page-item" th:each="numberOfPage : ${#numbers.sequence(1, totalPage-1)}">
                        <a th:href="@{/product/list(page=${numberOfPage})}" th:text="${numberOfPage}" class="page-link">Page
                            <span class="sr-only" th:text="${numberOfPage}">) </span></a>
                    </li>
                    <li th:if="${page != totalPage}" class="page-item">
                        <a class="page-link" th:href="@{/product/list(page=${page+1})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>



    <div class="p-0 m-0" style="width: 20%; float: left">&nbsp;</div>
</div>
<!--    Modal delete -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn muốn xóa sản phẩm này không?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/product/destroy}" method="post">
                <div class="modal-body">
                    Bạn có muốn xóa sản phẩm <span id="nameProduct" style="color:navy"></span> có mã là <span id="codeProduct" style="color:navy"></span> này không?
                    <input type="hidden" id="idProduct" name="idProduct">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
<script>
    function infoDelete(idProduct, nameProduct, codeProduct) {
        document.getElementById("idProduct").value = idProduct;
        document.getElementById("nameProduct").innerText = nameProduct;
        document.getElementById("codeProduct").innerText = codeProduct;
        console.log(idProduct, nameProduct, codeProduct)
    }
        // Tự động ẩn thông báo sau 4 giây
    setTimeout(function() {
        document.getElementById("successMessage").style.display = "none";
    }, 4000);// 4000 milliseconds = 4 giây

    function createProduct(page) {
        localStorage.setItem("page",page+1);
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</html>
