<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.example.projecttraining.mapper.AccountMapper" >
        <select id="findByAccountName" resultType="java.util.Map">
            SELECT
                a.account_id  , a.account_name, a.password , a.status_delete, r.id_role , r.name_role
            FROM
                account a
            JOIN
                role r ON r.id_role = a.role_id
            <where>
                a.account_name = #{accountName}
            </where>
        </select>

    <insert id="createAccount"  parameterType="com.example.projecttraining.model.Account">
        INSERT INTO
            account(account_name, password,role_id)
        VALUES
             (#{accountName},
              #{password},
              #{roleId})
    </insert>


</mapper>


