<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.projecttraining.mapper.EmployeesMapper" >

    <select id='getAllEmployees' resultType='java.util.Map'>
        SELECT
            e.id_employees as idEmployees,
            e.name_employees as nameEmployees,
            e.phone_number as phoneNumber,
            a.account_name as accountName
        FROM
            employees e
       JOIN
            account a ON e.id_account = a.account_id
        WHERE
            e.status_delete = 0
        AND
            TRIM(account_name) LIKE CONCAT(#{accountName}, '%')
        AND
            TRIM(name_employees) LIKE CONCAT(#{nameEmployees}, '%')
        AND
            TRIM(phone_number) LIKE CONCAT(#{phoneNumber}, '%')
        ORDER BY
            e.name_employees
        LIMIT
            #{pageIndex}
        OFFSET
            #{pageSize}
    </select>


    <select id="countEmployees" resultType="int">
        SELECT
            count(*)
        FROM
            employees e
        JOIN
            account a on e.id_account = a.account_id
        WHERE
            e.status_delete = 0
    </select>


    <update id="deleteEmployees" parameterType="com.example.projecttraining.model.Employees">
        UPDATE
            employees e
        SET
            e.status_delete = 1
        <where>
            id_employees = #{idEmployees}
        </where>
    </update>


    <select id="findByIdEmployees" parameterType="com.example.projecttraining.model.Employees">
        SELECT
            e.id_employees as idEmployees,
            e.name_employees as nameEmployees,
            e.phone_number as phoneNumber,
            a.account_name as accountName
        FROM
            employees e
        WHERE
            id_employees = #{idEmployees}
        AND
            e.status_delete = 0
    </select>

    <insert id="createEmployees"  >
        INSERT INTO
            employees(name_employees, phone_number, id_account)
        VALUES
            (#{nameEmployees},
             #{phoneNumber},
             #{accountId})
    </insert>

    <select id="getEmployeesByIdEmployees" resultType='java.util.Map' >
        SELECT
            e.id_employees as idEmployees,
            e.name_employees as nameEmployees,
            e.phone_number as phoneNumber,
            a.account_id as accountId,
            e.version_employees as versionEmployees
        FROM
            employees e
        JOIN
            account a on e.id_account = a.account_id
        WHERE
            e.id_employees = #{idEmployees}
    </select>

    <select id="getEmployeesByAccountId"  resultType="com.example.projecttraining.model.Employees">
    SELECT
        e.id_employees as idEmployees,
        e.name_employees as nameEmployees,
        e.phone_number  as phoneNumber,
        e.version_employees as versionEmployees,
        e.status_delete as statusDelete
    FROM
        employees
    WHERE
        e.id_account = #{accountId}
    </select>




</mapper>