<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <style>
            .pagination {
                display: flex;
                justify-content: center
            }
        </style>
    <title>THỐNG KÊ</title>
</head>
<body>
<div th:insert="~{navbar :: nav}"></div>
<nav class="navbar navbar-light bg-dark text-white head-text">
    Thống kê
</nav>
<div>
    <div class="p-0 m-0" style="width: 20%; float: left">&nbsp;</div>
    <div class="h-100 p-0 m-0" style="width: 60%; float: left">
       <form>
           <div class="p-2">
               <div class="form-group">
                   <label>Ngày đặt hàng bắt đầu </label>
                   <input type="date" name="dayOrderStart" id="dayOrderStart" placeholder="Nhập ngày đặt hàng bắt đầu">
               </div>
               <div class="form-group">
                   <label>Ngày đặt hàng kết thúc </label>
                   <input type="date" name="dayOrderEnd" id="dayOrderEnd" placeholder="Nhập ngày đặt hàng kết thúc">
               </div>
               <div>
                   <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                   <button class="btn btn-primary">Clear</button>
               </div>
           </div>
       </form>

        <table class="table-striped table">
            <h3>Danh sách khách hàng không mua sản phẩm nào</h3>
            <thead class="thead-dark">
            <tr class="w-100">
                <th>No.</th>
                <th>Tên khách hàng</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
            </tr>
            </thead>
            <tbody th:id="tableCustomerNotBuy">
            <tr th:each="item,loop : ${listCustomerNotBuyProduct}">
                <td th:text="${loop.count + pageCustomerNotBuyProduct * index}"></td>
                <td th:text="${item['nameCustomer']}"></td>
                <td th:text="${item['phoneNumberCustomer']}"></td>
                <td th:text="${item['addressCustomer']}"></td>
            </tr>
            </tbody>
        </table>

        <div th:if="${listCustomerNotBuyProduct.size() > 0}">
            <nav  aria-label="Page navigation example">
                <ul class="pagination display-flex" >
                    <li th:if="${pageCustomerNotBuyProduct != 0 }" class="page-item">
                        <a class="page-link" th:href="@{/product/list(page=${pageCustomerNotBuyProduct -1})}">Previous</a>
                    </li>
                    <li class="page-item" th:each="numberOfPage : ${#numbers.sequence(1, totalPageCustomerNotBuyProduct-1)}">
                        <a th:href="@{/product/list(page=${numberOfPage})}" th:text="${numberOfPage}" class="page-link">Page
                            <span class="sr-only" th:text="${numberOfPage}"> </span></a>
                    </li>
                    <li th:if="${pageCustomerNotBuyProduct +1 != totalPageCustomerNotBuyProduct}" class="page-item">
                        <a class="page-link" th:href="@{/product/list(page=${pageCustomerNotBuyProduct+1})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>


<!--        <div id="customerPage" th:if="${listCustomerNotBuyProduct.size() > 0}">-->
<!--        <nav aria-label="Page navigation example" >-->
<!--            <ul class="pagination" style="display: flex;justify-content: center">-->
<!--                <li th:if="${page > 0}" class="page-item" >-->
<!--                        <button  id="" class="page-link" th:attr="data-pages='/api/analytics/customernotbuyproduct?page=' + ${page} + '&amp;dayOrderStart=' + ${dayOrderStart} + '&amp;dayOrderEnd=' + ${dayOrderEnd}">Previous</button>-->
<!--                </li>-->
<!--                <li class="page-item">-->
<!--                    <span class="p">...</span>-->
<!--                </li>-->
<!--                <th:block th:each="pageNumber : ${#numbers.sequence(startPageCustomerNoOrder, endPageCustomerNoOrder)}">-->
<!--                    <li class="page-item active" th:if="${pageNumber -1 == page}">-->
<!--                        <a class="page-link "  th:text="${pageNumber}"></a>-->
<!--                    </li>-->
<!--                    <li class="page-item" th:if="${pageNumber -1 != page}">-->
<!--                        <button class="page-link" th:text="${pageNumber}"  th:attr="data-pages='/api/analytics/customernotbuyproduct?page=' + ${pageNumber} + '&amp;dayOrderStart=' + ${dayOrderStart} + '&amp;dayOrderEnd=' + ${dayOrderEnd}"></button>-->
<!--                    </li>-->
<!--                </th:block>-->
<!--                <li class="page-item"  th:if="${showEndEllipsisCustomerNoOrder}">-->
<!--                    <span  class="page-link">...</span>-->
<!--                </li>-->
<!--                <li class="page-item" th:if="${page + 1 != totalPageByCustomerNoOrder }">-->
<!--                         <button id="customerNotBuyProduct" class="page-link" th:attr="data-pages='/api/analytics/customernotbuyproduct?page=' + (${page} + 2) + '&amp;dayOrderStart=' + ${dayOrderStart} + '&amp;dayOrderEnd=' + ${dayOrderEnd}">Next</button>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--        </div>-->


        <table class="table-striped table">
            <h3>Danh sách sản phẩm bán chạy nhất</h3>
            <thead class="thead-dark">
            <tr class="w-100">
                <th>No.</th>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
            </tr>
            </thead>
            <tbody th:id="tableBestSeller">
            <tr th:each="analyticBestSeller,loop : ${listProductBestSeller}">
                <td th:text="${loop.count + pageProductBestSeller * index}"></td>
                <td th:text="${analyticBestSeller['codeProduct']}"></td>
                <td th:text="${analyticBestSeller['nameProduct']}"></td>
                <td th:text="${analyticBestSeller['totalSold']}"></td>
            </tr>
            <tr th:if="${listProductBestSeller.size() == 0}">
                <td colspan="4">Không tìm sản phẩm nào</td>
            </tr>
            </tbody>
        </table>
        <div th:if="${listProductBestSeller.size() > 0}">
            <nav  aria-label="Page navigation example">
                <ul class="pagination display-flex" >
                    <li th:if="${pageProductBestSeller != 0 }" class="page-item">
                        <a class="page-link" th:href="@{/product/list(page=${pageProductBestSeller -1})}">Previous</a>
                    </li>
                    <li class="page-item" th:each="numberOfPage : ${#numbers.sequence(1, totalPageProductBestSeller-1)}">
                        <a th:href="@{/product/list(page=${numberOfPage})}" th:text="${numberOfPage}" class="page-link">Page
                            <span class="sr-only" th:text="${numberOfPage}">) </span></a>
                    </li>
                    <li th:if="${pageProductBestSeller +1 != totalPageProductBestSeller}" class="page-item">
                        <a class="page-link" th:href="@{/product/list(page=${pageCustomerNotBuyProduct+1})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

        <table class="table-striped table">
            <h3>Danh sách sản phẩm không có đơn đặt hàng</h3>
            <thead class="thead-dark">
            <tr class="w-100">
                <th>No.</th>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
            </tr>
            </thead>
            <tbody th:id="tableProductNoOrder">
            <tr th:each="analyticNoOrder,loop : ${listProductNoOrder}">
                <td th:text="${loop.count + pageProductNoOrder * index}"></td>
                <td th:text="${analyticNoOrder['codeProduct']}"></td>
                <td th:text="${analyticNoOrder['nameProduct']}"></td>
            </tr>
            <tr th:if="${listProductNoOrder.size() == 0}">
                <td colspan="3">Không tìm sản phẩm nào</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="p-0 m-0" style="width: 20%; float: left">&nbsp;</div>

</div>


</body>



<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
